cmake
leidenalg==0.7.0 
dash==1.7.0
dash_core_components==1.6.0
dash_html_components==1.0.2
plotly==4.3.0
flask==1.1.1
flask_caching==1.8.0
gunicorn==19.9.0
umap-learn==0.3.0
git+https://github.com/theislab/anndata.git
scanpy==1.4.5.post3
git+https://github.com/dpeerlab/Palantir.git@6168f60c0ea416d87d622fccb0c0709dde2cc88c
dash-bootstrap-components==0.8.2
bbknn==1.3.7
