<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
        <link rel="stylesheet" href="assets/flatly_bootstrap.css">

        {% endblock %}

        <title>MiCV</title>
        {% endblock %}
    </head>
    <body>
    {% block body %}
      {% block navbar %}
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="/" className="ml-2">
            <img src="assets/MiCV_logo.png" height=45 alt="" loading="lazy">
            A Multi-informatic Cellular Visualization tool
          </a>
          <div class="navbar-expand flex-grow-1 text-left" id="navbarNav">
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="/logout">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="/login">Login</a>
              {% endif %}
              <a class="nav-item nav-link" href="https://github.com/cailabumich/MiCV">Code</a>
              <a class="nav-item nav-link" href="https://micv.works/docs/">Documentation</a>
            </div>
          </div>
        </nav>
      {% endblock navbar %}
      {% block content %}
      {% endblock content %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock scripts %}
    {% endblock body %}
    </body>
</html>